@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #FFD200;
    --primary-color-light: #ECF7DF;
    --primary-color-dark: #44C7C0;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --extra-light: #f2f2f2;
    --text-gradient: linear-gradient(0deg, rgba(255, 145, 77, 0.53) 0%, rgba(255,255,255,1) 100%);
    --max-width: 1200px;
    --header-font: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.header {
    background-color: #ECFAFA;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

.header__title {
    background: linear-gradient(90deg, #7ed56f, #ffd700);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
}

.section__header{
    text-align: center;
    background: linear-gradient(90deg, #7ed56f, #ffd700);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: bold;
}

.section__subheader{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.section__description{
    line-height: 1.75rem;
    color: var(--text-light);
}

.btn{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    white-space: nowrap;
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

html,
body{
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
}

header {
    position: relative;
}

header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    z-index: -1;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.nav__logo img{
    max-width: 35px;
}

.nav__logo a {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}

.nav__logo nut{
    display: none;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-weight: 500;
    color: var(--white);
}

.nav__links a:hover {
    color: var(--text-dark);
}

.nav__btns {
    display: none;
}

.header__container {
    display:grid;
    gap: 2rem 1rem;
    overflow: hidden;
}

.about__section{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    overflow: hidden;
    background-color: white;
    border-radius: 50px;

    max-width: 800px;
    margin: auto;
    padding: 5rem 1rem;
}

.header__image img{
    max-width: 575px;
    margin-inline-start: auto;
}

.about__image {
    grid-column: 1 / 2;
}

.about__content {
    grid-column: 2 / 3;
    grid-row: 1/2;
}


.about__content h2 {
    text-align: left;
}

.about__content p {
    margin-right: 22rem;
}





.about__image img{
    max-width: 575px;
    margin-inline-start: auto;
    border-radius: 10px; /* Bordes redondeados en la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para la imagen */
    height: 400px;
}

.about__section h2{
    margin-left: 30px;
    margin-right: 30px;
}
.about__section p {
    margin-left: 1px;
    margin-right: 30px;
}

.header__content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__content p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.header-text h1 {
    background: linear-gradient(90deg, #7ed56f, #ffd700);
    -webkit-background-clip: text;
    color: transparent;
}

.span1 {
    background: linear-gradient(90deg, #7ed56f, #ffd700);
    -webkit-background-clip: text;
    color: transparent;
}

.span2{
    color: var(--primary-color);
}

.header__content .section__description{
    margin-bottom: 2rem;
    text-align: center;
}

.header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;

}

.header__btns a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-dark);

}

.btn:hover {
    color: var(--text-dark);
}

.btn{
    gap: 2rem;
    background-color: var(--primary-color-dark);
}

.experience__container :is(.section__subheader, .section__header) {
    text-align: center;
    max-width: 600px;
    margin-inline: auto;
}

.experience__content {
    max-width: 1024px;
    margin-inline: auto;
    margin-top: 4rem;
    position: relative;
    isolation: isolate;
}

.experience__content img {
    max-width: 300px;
    margin-inline: auto;
    opacity: 0.5;
}

.experience__card img{
    max-width: 50px;
}

.experience__card {
    position: absolute;
    max-width: 200px;
    margin-top: -50px;
}

.experience__card h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark);
}

.experience__card:nth-child(1) {
    top: 5rem;
    left: 1rem;
}

.experience__card:nth-child(2) {
    top: 60%;
    left: 1rem;
    transform: translateY(-50%);
}

.experience__card:nth-child(3) {
    bottom: 5rem;
    left: 1rem;
}

.experience__card:nth-child(4) {
    top: 5rem;
    right: 1rem;
    text-align: right;
}

.experience__card:nth-child(5) {
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    text-align: right;
}

.experience__card:nth-child(6) {
    bottom: 5rem;
    right: 1rem;
    text-align: right;
}

.arrival__grid {
    display: grid;
    margin-top: 4rem;
    gap: 1rem;
}

.arrival__card {
    position: relative;
    isolation: isolate;
    height: fit-content;
    padding: 2rem 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 1rem;

}

.arrival__card:hover {
    background-color: var(--primary-color);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
}

.arrival__card span {
    position: absolute;
    padding: 5px 1rem;
    top: 1rem;
    right: 1rem;
    padding: 5px 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
}

.arrival__card img {
    width: fit-content;
    height: 100%;
    max-height: 160px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 10rem;
}

.arrival__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.arrival__card p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.arrival__card .read__more {
    margin-bottom: 1rem;
    padding: calc(1rem - 4px) calc(2rem - 4px);
    display: none;
    background-color: transparent;
    border: 2px solid var(--white);
}

.arrival__card:hover .read__more {
    display: block;
    margin-inline: auto;
}

.feature__grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.feature__card {
    position: relative;
    isolation: isolate;
    height: fit-content;
    padding: 2rem 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-color: var(--primary-color-light);
    border-radius: 5rem;
}

.feature__card:hover {
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
}


.feature__card img {
    width: fit-content;
    height: 100%;
    max-height: 250px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 10rem;
}

.feature__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.feature__card p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.feature__card .btn {
    display: none;
}

.feature__card:hover .btn {
    display: inline-block;
}

.membership {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/pack.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

}

.membership__container .section__header {
    color: var(--white);
}

.membership__card span{
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 1rem;

}

.membership__card p {
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 1rem;
    line-height: 90%;
}

.membership__grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    text-align: center;
}

.membership__card {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    border-radius: 1rem;
}

.free:hover {
    background-color: var(--primary-color);
}
.medium:hover {
    background-color: #7ed56f;
}
.premium:hover {
    background-color: var(--primary-color-dark);
}

.membership__card h4 {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--white);
}

.membership__card ul {
    margin-bottom: 1rem;
    list-style: none;
    display: grid;
    gap: 1rem;
}

.membership__card li {
    display: flex;
    gap: 10px;
    color: var(--white);
}

.membership__card li span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

.membership__card:hover li span {
    color: var(--white);
}

.membership__card h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--white);
}

.membership__card h3 :is(sup, span) {
    font-size: 1.5rem;
    font-weight: 400;
}

.membership__card:hover .btn {
    background-color: var(--text-dark);
}



.swiper {
    margin-top: 4rem;
    width: 100%;
}

.swiper-slide {
    min-width: 375px;
}

.client__card {
    padding: 5px;
    background-color: var(--extra-light);
    border-radius: 1rem;
    transition: 0.3s;
}

.client__card:hover {
    background: linear-gradient(90deg, #44c6bf, #a6d54c);
    color: transparent;
}

.client__content {
    padding: 1rem;
    background-color: var(--white);
    border-radius: calc(1rem - 5px);
}

.client__rating {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.client__content p {
    color: var(--text-dark);
}

.client__details {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.client__details img {
    max-width: 50px;
    border-radius: 100%;
}

.client__details h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

.client__card:hover h4 {
    color: var(--white);
}

.client__details h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.client__card:hover h5 {
    color: var(--extra-light);
}


.chef__container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.chef__image img {
    max-width: 550px;
    margin-inline: auto;
}

.chef__content .section__header {
    margin-bottom: 2rem;
}

.chef__content .section__description {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}


.contact__container {
    max-width: 600px;
}

.contact__container .section__subheader {
    margin-inline: auto;
}

.contact__container .section__header {
    margin-bottom: 1rem;
    margin-inline: auto;
    text-align: center;
}

.contact__container .section__description {
    margin-bottom: 2rem;
    margin-inline: auto;
    text-align: center;
}

.contact__container form {
    display: grid;
    gap: 1rem;
}

.contact__container :is(input, textarea) {
    padding: 1rem 0.75rem;
    outline: none;
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--text-dark);
    border-radius: 5px;
}

.contact__container .btn {
    max-width: fit-content;
    margin-inline: auto;
}

.footer__container {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--primary-color);
}

.footer__container p {
    color: var(--white);
    text-align: center;
    line-height: 1.5rem;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer__socials a {
    padding: 6px 8px;
    font-size: 1.125rem;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
}

.footer__socials a:hover {
    background-color: var(--primary-color-dark);
}


@media (width > 540px) {

    .feature__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .arrival__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .membership__grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (width > 768px) {
    nav {
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a {
        color: var(--text-dark);
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav__links a {
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 4px solid transparent;
    }

    .nav__links a:hover {
        border-color: var(--primary-color);
    }

    .nav__btns {
        display: flex;
        flex: 1;
    }

    .nav__btns .btn {
        padding: 0.75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

    .sign__up {
        color: var(--white);
        background-color: var(--primary-color);
    }

    .sign__up:hover {
        color: var(--text-dark);
    }

    .order {
        color: var(--primary-color-dark);
        background-color: var(--white);
    }

    .order:hover {
        color: var(--primary-color);
    }

    .header__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header__image{
        grid-area: 1/2/2/3;
    }

    .about__image{
        grid-column: 1/2;
        width: 250px;
        height: auto;
        margin-right: 10px;
        margin-left: 20px;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinea el contenido a la izquierda */
        text-align: left; /* Alinea el texto a la izquierda */
    }

    .header__content h1,
    .header__content .section__description {
        text-align: left; /* Alinea los títulos a la izquierda */
        margin-left: 50px; /* Elimina cualquier margen izquierdo adicional */
    }

    .about__section h1,
    .about__section p {
        text-align: left; /* Alinea los títulos a la izquierda */
        margin-left: 30px;
        margin-top: 30px;
    }

    .header__btns {
        align-self: flex-start; /* Alinea los botones a la izquierda */
        margin-left: 200px;
    }

    .experience__content img {
        opacity: 1;
    }

    .experience__card:nth-child(1) {
        left: 5rem;
    }

    .experience__card:nth-child(3) {
        left: 5rem;
    }

    .experience__card:nth-child(4) {
        right: 5rem;
    }

    .experience__card:nth-child(6) {
        right: 5rem;
    }

    .chef__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }


    .arrival__grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .feature__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .membership__grid {
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (width > 1024px) {
    .feature__grid {
        gap: 2rem;
    }

    .membership__grid {
        gap: 2rem;
    }

    .membership__card {
        padding: 2rem;
    }
}









